<!-- Sign-up Component -->
<app-sign-up></app-sign-up>
<!-- Sign in component -->
<app-sign-in></app-sign-in>
<br><br>
<!-- Weather Component -->
<app-weather></app-weather>
<!-- Ip service -->
<app-ip></app-ip>
<!-- Pipe component -->
<app-learn-pipe></app-learn-pipe>

<app-card>
    <h3 class="card-header">Angular Training</h3>
    <p class="card-body">ngContent: card component</p>
</app-card>

<h3>Parent component work!</h3>
<app-parent></app-parent>
<app-parent-to-child></app-parent-to-child>

<app-list-person></app-list-person>
<app-words></app-words>
<app-struct></app-struct>
<app-user-form></app-user-form>
<app-word></app-word>
